*{
	padding: 0;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
}

.container {
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwq0ViihbD_UqNorTCagYSUbrTxkkUy52W0xpYar65pXrB6uEW7w);
	background-size: cover;
}

.col-lg-4 {
	background-color: green;
	font-size: 20px;
	text-align: center;
	width: 40%
}

.col-lg-6 {
	background-color: blue;
	font-size: 15px;
	text-align: left;
	width: 30%;
	height: 20%
}

.col-lg-3 {
	background-color: yellow;
	text-align: left;
	font-size: 20px;
	width: 30%
}
.col-lg-5 {
	background-color: red;
	width: 30%;
	height: 10%;
	font-size: 15px;
}